
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Red+Hat+Display:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-image: url('pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}

main {
    width: 30%;
    height: fit-content;
    padding-bottom: 30px;    
    line-height: 25px;
    background-color:white;
    border-radius: 15px;
    position: absolute;
    top: 50%; left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
    text-align: center;
}

.illustration-hero {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.main-h1 {
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.main-p {
    font-family: 'Red Hat Display', sans-serif;
    color:hsl(224, 23%, 55%);
    font-size: 16px;
    line-height: 20px;
}

.price-box {
    width: 80%;
    margin: auto;
    height: 80px;
    border-radius: 12px;
    padding: 10px;
    background-color: hsl(225, 100%, 98%);
}

.icon-music {
    float: left;
    height: 38px;
    width: 38px;
    margin-top: 10px;
    margin-right: 8px;
    margin-bottom: 15px;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    line-height: 13px;
}

.price-plan {
    font-family: 'Red Hat Display', sans-serif;
    float: left;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    line-height: 4px;
}

.price {
    font-family: 'Red Hat Display', sans-serif;
    float: left;
    line-height: 1px;
    color: hsl(224, 23%, 55%);
}

.change-btn {
    float: right;
    line-height: 1px;
}

.change {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: underline;
    font-weight: 700;
}

.change:hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.payment-btn {
    margin-top: 30px;
}

.payment {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    margin: auto;
    padding-left: 90px;
    padding-right: 90px;
    background-color: hsl(245, 75%, 52%);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: -4px 16px 4px hsl(225, 100%, 98%);
}

.payment:hover {
    background-color:  hsl(224, 23%, 55%);
}

.cancel-btn {
    margin-top: 20px;
}

.cancel {
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-image: url('pattern-background-mobile.svg');
    }
    main {
        width: 90%;
    }
    .payment {
        padding-left: 40px;
        padding-right: 40px;
    }
    .price-box {
        width: 95%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-image: url('pattern-background-mobile.svg');
    }
    main {
        width: 90%;
    }
    .payment {
        padding-left: 40px;
        padding-right: 40px;
    }
    .price-box {
        width: 95%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-image: url('pattern-background-mobile.svg');
    }
    main {
        width: 30%;
    }
    .payment {
        padding-left: 40px;
        padding-right: 40px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        width: 30%;
    }
    .payment {
        padding-left: 90px;
        padding-right: 90px;
    }
    .price-box {
        width: 80%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main {
        width: 30%;
    }
    .payment {
        padding-left: 90px;
        padding-right: 90px;
    }
    .price-box {
        width: 80%;
    }
}